
.header{
  display: flex;
  justify-content: space-between;
  border: 0.5pt solid black;
  
}

.logo{
  
  width: 100px;
  height: 80px;
 
}
.Navbar>ul{
  display: flex;
  list-style-type: none;

}

.Navbar>ul>li{
  padding: 10px;
  margin: 10px;
}
.Navbar>ul>button{
  margin: 5px;
}
.res-card{
  margin: 5px;
  padding: 20px;
  width: 163px;
  
}

.search{
  padding: 10px;
}

.res-card:hover {
  cursor:pointer;
  border: 1px solid black;

}


.res-logo{
  height: 45%;
  width:100%;
 
}

.res-container{
  display: flex;
  
  flex-wrap: wrap;
  
}

.filter{
  margin: 5px;;
  padding: 5px;
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
}

.filter-btn{
  cursor: pointer;
}

.Shimmer-container{
 display: flex;
 flex-wrap: wrap;
 
}

.shimmer{
  margin:20px;
  background-color: #f0f0f0;
  height: 400px;
  width: 200px;
}

.Blue {
  background-color: rgb(34, 34, 73);
  height: 200px; /* Set the desired height */
  width: 100%;   /* Make it span the entire width */
  align-items: center;
  justify-content: center;
}

.search{
  cursor: pointer;
}



